<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer Fragment</title>
</head>
<body>
<!-- ======= Footer ======= -->
<footer id="footer" th:fragment="footer">

    <div class="footer-top">

        <div class="container">

            <div class="row  justify-content-center">
                <div class="col-lg-6">
                    <h3>SnapClash</h3>
                    <br>
                    <h4>Telerik Alpha Java 25 Final Project™</h4>
                    <h6>Photos courtesy of Unsplash</h6>
                </div>
            </div>

            <div class="social-links">
                <a th:href="@{https://gitlab.com/alpha-25-team-19/snapclash-photo-contest-project}" href="#" class="twitter"><i class="bx bxl-gitlab"></i></a>
                <a th:href="@{https://trello.com/b/IZ4DlQ8x/snapclash-photo-contest-project}" href="#" class="facebook"><i class="bx bxl-trello"></i></a>
                <a th:href="@{https://bootstrapmade.com/demo/Vlava/}" href="#" class="facebook"><i class="bx bxl-bootstrap"></i></a>
                <a th:href="@{https://unsplash.com/}" href="#" class="facebook"><i class="bx bxl-unsplash"></i></a>
            </div>

        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>Vlava</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vlava-free-bootstrap-one-page-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>
<!-- End Footer -->

</body>
</html>