<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments Header</title>
</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center" th:fragment="header">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <h1 class="text-light"><a th:href="@{/}" href="index.html"><span>SnapClash</span></a></h1>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a th:href="@{/}" href="index.html">Home</a></li>
        <li th:if="${currentUser == null}"><a  th:href="@{/login}" href="#">Login</a></li>
        <li th:if="${currentUser != null}"><a th:href="@{/logout}" href="#">Logout</a></li>
        <li th:if="${currentUser == null}"><a th:href="@{/register}" href="#">Register</a></li>
        <li th:if="${currentUser != null && currentUser.getRole().getId()== 1}">
          <a th:href="@{/users/{id}(id=${currentUser.getId()})}" href="#">Profile</a></li>
        <li th:if="${currentUser != null && currentUser.getRole().getId()== 2}">
          <a th:href="@{/organisers}" href="#">Admin</a></li>
        <li><a th:href="@{/photos}" href="#">Photos</a></li>
        <li><a th:href="@{/contests}" href="#">Contests</a></li>
      </ul>
    </nav>
    <!-- .nav-menu -->

  </div>
</header>
<!-- End Header -->
</body>
</html>