<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- purple x moss 2020 -->

<head>
    <meta charset="UTF-8">
    <title>403 Forbidden</title>

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>

    <link th:href="@{/404.css}" href="../../static/404.css" rel="stylesheet">

</head>
<body>
<div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">3</div>
    <div class="msg">Sorry! You are not authorized to view this page.<p>
        <p th:text="${error}" th:if="${error ne null}" class="alert alert-primary"></p>
        <a th:href="@{/}" href="#">Home</a></p></div>
</div>
</body>
</html>