<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SnapClash Contests</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
    <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/vendor/icofont/icofont.min.css}" href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" href="../static/vendor/boxicons/css/boxicons.min.css"
          rel="stylesheet">
    <link th:href="@{/vendor/remixicon/remixicon.css}" href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}"
          href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/vendor/venobox/venobox.css}" href="../static/vendor/venobox/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/vlava-style.css}" href="../static/vlava-style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Vlava - v2.2.1
    * Template URL: https://bootstrapmade.com/vlava-free-bootstrap-one-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            <h1 class="text-light"><a th:href="@{/}" href="index.html"><span>SnapClash</span></a></h1>
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a th:href="@{/}" href="index.html">Home</a></li>
                <li th:if="${currentUser == null}"><a th:href="@{/login}" href="#">Login</a></li>
                <li th:if="${currentUser != null}"><a th:href="@{/logout}" href="#">Logout</a></li>
                <li th:if="${currentUser == null}"><a th:href="@{/register}" href="#">Register</a></li>
                <li th:if="${currentUser != null && currentUser.getRole().getId()== 1}"><a
                        th:href="@{/users/{id}(id=${currentUser.getId()})}" href="#">Profile</a></li>
                <li th:if="${currentUser != null && currentUser.getRole().getId()== 2}"><a th:href="@{/organisers}"
                                                                                           href="#">Admin</a></li>
                <li><a th:href="@{/photos}" href="#">Photos</a></li>
                <li><a th:href="@{/contests}" href="#">Contests</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container"></div>
</section>
<!-- End Hero -->

<!-- Page Content -->
<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">All Contests</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-1 mb-lg-0 pb-3"
             th:each="contest : ${allContests}">
            <div class="card" th:switch="${contest.getContestCategory().getCategoryName()}">
                <img th:case="'Action'" th:src="@{/assets/categories/Action.jpg}"
                     src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                <img th:case="'Animals'" th:src="@{/assets/categories/Animals.jpg}"
                     src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                <img th:case="'Black & White'" th:src="@{/assets/categories/BlackWhite.jpg}"
                     src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                <img th:case="'Architecture'" th:src="@{/assets/categories/Architecture.jpg}"
                     src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                <img th:case="'Landscape'" th:src="@{/assets/categories/Landscape.jpg}"
                     src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                <img th:case="'Portrait'" th:src="@{/assets/categories/Portrait.jpg}"
                     src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="#{contest.title(${contest.getTitle()})}">Contest Title</h5>
                    <h5 class="card-title" th:text="#{contest.category(${contest.getContestCategory().getCategoryName()})}">
                        Contest Category</h5>
                    <hr>
                    <p th:text="#{contest.end(${#temporals.format(contest.getContestEnd(), 'dd-MM-yyyy HH:mm')})}"></p>
                    <h4>
                    <a th:href="@{/contests/{id}(id=${contest.getId()})}" href="#" class="btn-outline-info">View Contest</a>
                    <a th:if="${contest.getPhaseTwoStart().isAfter(#temporals.createNow()) && currentUser != null}"  th:href="@{/photos/new}" href="#" class="btn-outline-success ml-2">Join Contest</a>
                    <a th:if="${contest.getPhaseTwoStart().isAfter(#temporals.createNow()) && currentUser == null}"  th:href="@{/register}" href="#" class="btn-outline-success ml-2">Join Contest</a>
                    </h4>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer.html :: footer"></footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/static/vendor/jquery.easing/jquery.easing.min.js}"
        src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script th:src="@{/vendor/php-email-form/validate.js}" src="../static/vendor/php-email-form/validate.js"></script>
<script th:src="@{/static/vendor/owl.carousel/owl.carousel.min.js}"
        src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"
        src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script th:src="@{/vendor/venobox/venobox.min.js}" src="../static/vendor/venobox/venobox.min.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>

</body>
</html>