<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title th:text="#{contest.web.title(${contest.getTitle()})}">SnapClash</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Font Awesome Icons -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
          crossorigin="anonymous"></script>

  <!-- Favicons -->
  <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
  <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css"
        rel="stylesheet">
  <link th:href="@{/vendor/icofont/icofont.min.css}" href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" href="../static/vendor/boxicons/css/boxicons.min.css"
        rel="stylesheet">
  <link th:href="@{/vendor/remixicon/remixicon.css}" href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}"
        href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link th:href="@{/vendor/venobox/venobox.css}" href="../static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/Theme2static/css/elegant-icons-style.css"
        th:href="@{/Theme2static/css/elegant-icons-style.css}" rel="stylesheet"/>

  <!-- Template Main CSS File -->
  <link th:href="@{/vlava-style.css}" href="../static/vlava-style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vlava - v2.2.1
  * Template URL: https://bootstrapmade.com/vlava-free-bootstrap-one-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <h1 class="text-light"><a th:href="@{/}" href="index.html"><span>SnapClash</span></a></h1>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a th:href="@{/}" href="index.html">Home</a></li>
        <li th:if="${currentUser == null}"><a th:href="@{/login}" href="#">Login</a></li>
        <li th:if="${currentUser != null}"><a th:href="@{/logout}" href="#">Logout</a></li>
        <li th:if="${currentUser == null}"><a th:href="@{/register}" href="#">Register</a></li>
        <li th:if="${currentUser != null && currentUser.getRole().getId()== 1}"><a
                th:href="@{/users/{id}(id=${currentUser.getId()})}" href="#">Profile</a></li>
        <li th:if="${currentUser != null && currentUser.getRole().getId()== 2}"><a th:href="@{/organisers}"
                                                                                   href="#">Admin</a></li>
        <li><a th:href="@{/photos}" href="#">Photos</a></li>
        <li><a th:href="@{/contests}" href="#">Contests</a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
  <a th:if="${currentUser != null && contest.getPhaseTwoStart().isAfter(#temporals.createNow())}" th:href="@{/photos/new}" href="#" class="btn-get-started scrollto">Join Contest</a>
  </div>
</section>
<!-- End Hero -->

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a th:href="@{/}" href="index.html">Home</a></li>
      <li><a th:href="@{/contests}">Contests</a></li>
    </ol>
    <h2 th:text="${contest.getTitle()}">Contest Title</h2>

  </div>
</section>
<!-- End Breadcrumbs -->

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 portfolio-info">
        <ul>
          <li><h2><strong>Category:</strong></h2><h2 th:text="${contest.getContestCategory().getCategoryName()}"></h2></li>
          <li><hr class="mt-3 mb-5"></li>
          <li><h3><strong>Submission Deadline:</strong></h3><h3 th:text="${#temporals.format(contest.getPhaseTwoStart(), 'dd-MM-yyyy HH:mm')}"></h3></li>
          <li><h3><strong>Deliberation Deadline:</strong></h3><h3 th:text="${#temporals.format(contest.getContestEnd(), 'dd-MM-yyyy HH:mm')}"></h3></li>
        </ul>
      </div>
    </div>

    <div class="section-title">
      <h2><a th:if="${contest.getPhaseTwoStart().isAfter(#temporals.createNow())}"  th:href="@{/photos/new}" href="#" class="btn-outline-success">Join Contest</a></h2>
    </div>

    <div class="section-title mt-3" th:if="${contestPhotos == null}">
      <h4 class="section-title" th:text="#{contest.photos.empty}">No Photos</h4>
    </div>


    <div class="row text-center text-lg-left">

      <div th:each="photo : ${contestPhotos}" class="col-lg-3 col-md-4 col-4 d-flex flex-wrap">
        <a th:href="@{/photos/{id}(id=${photo.getId()})}" href="#" class="d-block mb-4 h-100">
          <img th:src="@{${photo.getPhotoUrl()}}" th:width="400" th:height="300" class="img-thumbnail img-fluid" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
          <h5 style="text-align:center" th:text="#{photo.title(${photo.getPhoto().getTitle()})}" class="mt-2"></h5>
          <h6 style="text-align:center" th:text="#{photo.owner(${photo.getPhoto().getPhotoUser().getUsername()})}"></h6>
        </a>
      </div>

    </div>

  </div>

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <h2>Contest Leaderboard</h2>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <div class="section-title mt-3" th:if="${!contest.isAwarded()}">
      <h4 class="section-title" th:text="#{contest.not.awarded}">Not Awarded</h4>
    </div>

<div th:unless="${!contest.isAwarded()}">
    <div class="col-lg-12">
        <table class="table table-striped table-advance table-hover">
          <tbody>
          <tr>
            <th><i class="fas fa-trophy"></i> Position</th>
            <th><i class="icon_profile"></i> User</th>
            <th><i class="icon_star"></i> Final Score</th>
          </tr>
          <tr th:each="firstPlaceWinner : ${leaderboard.getFirstPlaceWinners()}">
            <td th:text="'1st'">Position</td>
            <td th:text="${firstPlaceWinner.getKey()}">Username</td>
            <td th:text="${#numbers.formatDecimal(firstPlaceWinner.getValue(),1,1,'POINT')}">Final Score</td>
          </tr>
          <tr th:each="secondPlaceWinner : ${leaderboard.getSecondPlaceWinners()}">
            <td th:text="'2nd'">Position</td>
            <td th:text="${secondPlaceWinner.getKey()}">Username</td>
            <td th:text="${#numbers.formatDecimal(secondPlaceWinner.getValue(),1,1,'POINT')}">Final Score</td>
          </tr>
          <tr th:each="thirdPlaceWinner : ${leaderboard.getThirdPlaceWinners()}">
            <td th:text="'3rd'">Position</td>
            <td th:text="${thirdPlaceWinner.getKey()}">User</td>
            <td th:text="${#numbers.formatDecimal(thirdPlaceWinner.getValue(),1,1,'POINT')}">Final Score</td>
          </tr>
          </tbody>
        </table>
    </div>
</div>

</section>
<!-- End Portfolio Details Section -->


<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer.html :: footer"></footer>
<!-- End Footer -->


<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/static/vendor/jquery.easing/jquery.easing.min.js}"
        src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script th:src="@{/vendor/php-email-form/validate.js}" src="../static/vendor/php-email-form/validate.js"></script>
<script th:src="@{/static/vendor/owl.carousel/owl.carousel.min.js}"
        src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"
        src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script th:src="@{/vendor/venobox/venobox.min.js}" src="../static/vendor/venobox/venobox.min.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>

</body>
</html>