<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SnapClash Create Contest</title>

    <!-- Favicons -->
    <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
    <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="../static/Theme2static/css/bootstrap.min.css" th:href="@{/Theme2static/css/bootstrap.min.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/bootstrap-theme.css" th:href="@{/Theme2static/css/bootstrap-theme.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/elegant-icons-style.css"
          th:href="@{/Theme2static/css/elegant-icons-style.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/css/font-awesome.min.css" th:href="@{/Theme2static/css/font-awesome.min.css}"
          rel="stylesheet"/>
    <link href="../static/Theme2static/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css"
          th:href="@{/Theme2static/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/assets/fullcalendar/fullcalendar/fullcalendar.css"
          th:href="@{/Theme2static/assets/fullcalendar/fullcalendar/fullcalendar.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css"
          th:href="@{/Theme2static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet"
          type="text/css" media="screen"/>
    <link href="../static/Theme2static/css/owl.carousel.css" th:href="@{/Theme2static/css/owl.carousel.css}"
          type="text/css" rel="stylesheet">
    <link href="../static/Theme2static/css/jquery-jvectormap-1.2.2.css"
          th:href="@{/Theme2static/css/jquery-jvectormap-1.2.2.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/fullcalendar.css" th:href="@{/Theme2static/css/fullcalendar.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/widgets.css" th:href="@{/Theme2static/css/widgets.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/style.css" th:href="@{/Theme2static/css/style.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/style-responsive.css" th:href="@{/Theme2static/css/style-responsive.css}"
          rel="stylesheet"/>
    <link href="../static/Theme2static/css/xcharts.min.css" th:href="@{/Theme2static/css/xcharts.min.css}"
          rel=" stylesheet">
    <link href="../static/Theme2static/css/jquery-ui-1.10.4.min.css"
          th:href="@{/Theme2static/css/jquery-ui-1.10.4.min.css}" rel="stylesheet">
    <link href="../static/styles2.css" th:href="@{/styles2.css}" rel="stylesheet">
</head>
<body>
<header class="header dark-bg">
    <!--logo start-->
    <a href="organiser.html" th:href="@{/}" class="logo">Snap<span class="lite">Clash</span></a>
    <!--logo end-->

    <div class="top-nav notification-row">
        <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->
            <a class="user text-warning" href="#" th:href="@{/users/{id}/update(id=${currentUser.getId()})}"
               th:text="${currentUser.getFirstName() + ' ' + currentUser.getLastName()}">Jenifer Smith</a>
            <td><a class="btn btn-default btn-sm" href="#" th:href="@{/logout}"
                   title="Bootstrap 3 themes generator">Logout</a></td>
            <!--             user login dropdown end-->
        </ul>
    </div>

</header>
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="sub-menu">
                <a href="contests.html" th:href="@{/organisers/contests}" class="">
                    <i class="icon_table"></i>
                    <span>Contests</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="contests.html">Contests</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="contest-create.html" th:href="@{/organisers/contests/create}" class="">
                    <i class="icon_table"></i>
                    <span>Create Contest</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="contest-create.html">Create Contest</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="photos.html" th:href="@{/organisers/photos}" class="">
                    <i class="icon_table"></i>
                    <span>Photos</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="photos.html">Photos</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="organiser.html" th:href="@{/organisers}" class="">
                    <i class="icon_table"></i>
                    <span>Users</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="organiser.html">Users</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <i class="fa fa-users"></i>
                    <div class="count" th:text="${rankings.size()}">1.000</div>
                    <div class="title">Users</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->
            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box brown-bg">
                    <i class="fa fa-photo"></i>
                    <div class="count" th:text="${photos.size()}">2.538</div>
                    <div class="title">Photos</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->


            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box green-bg">
                    <i class="fa fa-trophy"></i>
                    <div class="count" th:text="${contests.size()}">362</div>
                    <div class="title">Contests</div>
                </div>
                <!--/.info-box-->
            </div>
        </div>
        <!--/.row-->
        <!-- Form validations -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Form validations
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <form class="form-validate form-horizontal" id="feedback_form"
                                  th:object="${contestDto}" method="post" action="">
                                <div class="form-group ">
                                    <label for="cemail" class="control-label col-lg-2">Contest Title <span
                                            class="required"></span></label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="cemail" name="country" type="text"
                                               th:field="*{title}"/>
                                        <label class="error" th:errors="*{title}">Contest Title</label>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="contestCategoryId" class="control-label col-lg-2">Contest
                                        category</label>
                                    <div class="col-lg-10">
                                        <select class="form-control m-bot15 tooltips" id="contestCategoryId"
                                                th:name="contestCategoryId" data-placement="left"
                                                data-original-title="Contest category">
                                            <option th:each="contestCategory : ${contestCategories}"
                                                    th:value="${contestCategory.getId()}"
                                                    th:text="${contestCategory.getCategoryName()}">
                                                Contest category
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="cname" class="control-label col-lg-2">Start of Phase one <span
                                            class="required"></span></label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="cname" name="phaseOneStart"
                                               type="datetime-local"
                                               th:field="*{phaseOneStart}"/>
                                        <label class="error" th:errors="*{phaseOneStart}">Start of Phase one</label>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="cname" class="control-label col-lg-2">Start of Phase two <span
                                            class="required"></span></label>
                                    <div class="col-lg-10">
                                        <input class="form-control" name="firstPhaseEndAndSecondPhaseStart"
                                               type="datetime-local"
                                               th:field="*{phaseTwoStart}"/>
                                        <label class="error" th:errors="*{phaseTwoStart}">Start of Phase two</label>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="cname" class="control-label col-lg-2">End of Phase two<span
                                            class="required"></span></label>
                                    <div class="col-lg-10">
                                        <input class="form-control" name="secondPhaseEnd"
                                               type="datetime-local"
                                               th:field="*{contestEnd}"/>
                                        <label class="error" th:errors="*{contestEnd}">End of Phase two</label>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="juryIds" class="control-label col-lg-2">Jury list</label>
                                    <div class="col-lg-10">
                                        <select class="form-control m-bot15 tooltips"
                                                th:field="*{juryIds}" id="juryIds" data-placement="left"
                                                data-original-title="Possible jury" multiple>
                                            <option th:each="user : ${jurors}"
                                                    th:value="${user.getId()}"
                                                    th:text="${user.getFirstName} + ' ' +  ${user.getLastName}  + ', (' + ${user.getRole().getRoleName()} + ')'">
                                                Jury
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="invitedUsersIds" class="control-label col-lg-2">Invited users list</label>
                                    <div class="col-lg-10">
                                        <select class="form-control m-bot15 tooltips" id="invitedUsersIds"
                                                th:field="*{invitedUsersIds}" data-placement="left"
                                                data-original-title="Possible invited users" multiple>
                                            <option th:value="${null}"  th:text="'All Users (Open Contest)'" selected>  </option>
                                            <option th:each="user : ${rankings}"
                                                    th:value="${user.getUser().getId()}"
                                                    th:text="${user.getUser().getFirstName()} + ' ' +  ${user.getUser().getLastName()}">
                                                Invited users
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-primary" type="submit">Create</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>
        </div>
    </section>
</section>
<script src="../static/Theme2static/js/jquery.js" th:src="@{/Theme2static/js/jquery.js}"></script>
<script src="../static/Theme2static/js/bootstrap.min.js" th:src="@{/Theme2static/js/bootstrap.min.js}"></script>
<script src="../static/Theme2static/js/scripts.js" th:src="@{/Theme2static/js/scripts.js}"></script>

</body>

</html>