<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SnapClash</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
    <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/vendor/icofont/icofont.min.css}" href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link th:href="@{/vendor/remixicon/remixicon.css}" href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}" href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/vendor/venobox/venobox.css}" href="../static/vendor/venobox/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/vlava-style.css}" href="../static/vlava-style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Vlava - v2.2.1
    * Template URL: https://bootstrapmade.com/vlava-free-bootstrap-one-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/header.html :: header"></header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1>Welcome to SnapClash</h1>
        <h2>Enter our free photo contests and join a community of photographers like you.</h2>
        <a th:if="${currentUser == null}" th:href="@{/register}" href="#" class="btn-get-started scrollto">Register</a>
    </div>
</section>
<!-- End Hero -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-photobucket"></i></div>
                    <h4 class="title"><a href="">Get Started</a></h4>
                    <p class="description">Sign up for free and upload a photo to one of our contests right now!</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-badge"></i></div>
                    <h4 class="title"><a href="">Rank Up</a></h4>
                    <p class="description">Earn points and gain ranks! Winning contests earns you the most, but you get some just for entering</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-judge"></i></div>
                    <h4 class="title"><a href="">Join the Jury</a></h4>
                    <p class="description">Past a certain rank, you can be invited as a member of the jury for new contests!</p>
                </div>
            </div>

            <div class="section-title">
                <h5>“Taking pictures is savoring life intensely, every hundredth of a second.” - Marc Riboud</h5>
            </div>

        </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Featured Section ======= -->
    <div class="section-title mt-3">
        <h2>Active Contests</h2>
    </div>

    <div class="section-title mt-3" th:if="${activeContests == null}">
        <h4 class="section-title" th:text="#{home.activeContests.empty}">No Active Contests</h4>
    </div>

    <div th:unless="${activeContests == null}">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-1 mb-lg-0 pb-3"
                         th:each="contest : ${activeContests}">
                        <div class="card" th:switch="${contest.getContestCategory().getCategoryName()}">
                            <img th:case="'Action'" th:src="@{/assets/categories/Action.jpg}"
                                 src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                            <img th:case="'Animals'" th:src="@{/assets/categories/Animals.jpg}"
                                 src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                            <img th:case="'Black & White'" th:src="@{/assets/categories/BlackWhite.jpg}"
                                 src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                            <img th:case="'Architecture'" th:src="@{/assets/categories/Architecture.jpg}"
                                 src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                            <img th:case="'Landscape'" th:src="@{/assets/categories/Landscape.jpg}"
                                 src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                            <img th:case="'Portrait'" th:src="@{/assets/categories/Portrait.jpg}"
                                 src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" th:text="#{contest.title(${contest.getTitle()})}">Contest Title</h5>
                                <h5 class="card-title" th:text="#{contest.category(${contest.getContestCategory().getCategoryName()})}"
                                >Contest Category</h5>
                                <hr>
                                <p th:text="#{contest.phaseOne.deadline(${#temporals.format(contest.getPhaseTwoStart(), 'dd-MM-yyyy HH:mm')})}"></p>
                                <h4>
                                    <a th:href="@{/contests/{id}(id=${contest.getId()})}" href="#" class="btn-outline-info">View Contest</a>
                                    <a th:if="${currentUser == null}" th:href="@{/register}" href="#" class="btn-outline-success ml-2">Join Contest</a>
                                    <a th:if="${currentUser != null}" th:href="@{/photos/new}" href="#" class="btn-outline-success ml-2">Join Contest</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- End Featured Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Meet the Team</h2>
            </div>

            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img th:src="@{/assets/team/Stanyo.jpg}" src="../static/assets/team/Stanyo.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a th:href="@{https://www.facebook.com/stanyo.zhelev}" href=""><i class="icofont-facebook"></i></a>
                                <a th:href="@{https://www.linkedin.com/in/stanyo-zhelev-b8346ab8/}" href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Stanyo Zhelev</h4>
                            <span>Project Lead</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img th:src="@{/assets/team/Dani.jpg}" src="../static/assets/team/Dani.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a th:href="@{https://www.facebook.com/daniel.nikolov.77}" href=""><i class="icofont-facebook"></i></a>
                                <a th:href="@{https://www.linkedin.com/in/daniel-nikolov-48317220a}" href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Daniel Nikolov</h4>
                            <span>Project Lead</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer.html :: footer"></footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/static/vendor/jquery.easing/jquery.easing.min.js}" src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script th:src="@{/vendor/php-email-form/validate.js}" src="../static/vendor/php-email-form/validate.js"></script>
<script th:src="@{/static/vendor/owl.carousel/owl.carousel.min.js}" src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}" src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script th:src="@{/vendor/venobox/venobox.min.js}" src="../static/vendor/venobox/venobox.min.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>

</body>

</html>