<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SnapClash Sign-In</title>

    <!-- Favicons -->
    <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
    <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- CSS -->
    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/vendor/icofont/icofont.min.css}" href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link th:href="@{/vendor/remixicon/remixicon.css}" href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}" href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/vendor/venobox/venobox.css}" href="../static/vendor/venobox/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/login-styles.css" th:href="@{/login-styles.css}" rel="stylesheet">
    <link th:href="@{/vlava-style.css}" href="../static/vlava-style.css" rel="stylesheet">

</head>
<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            <h1 class="text-light"><a th:href="@{/}" href="index.html"><span>SnapClash</span></a></h1>
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a th:href="@{/}" href="index.html">Home</a></li>
                <li><a th:href="@{/register}" href="#">Register</a></li>
                <li><a th:href="@{/photos}" href="#">Photos</a></li>
                <li><a th:href="@{/contests}" href="#">Contests</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<div class="container mt-5 pt-4">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                        <form th:action="@{/login}" method="post" th:object="${loginDto}" class="form-signin">
                        <div class="form-label-group">
                            <input type="text" id="inputUsername" class="form-control" placeholder="Username"
                                   required autofocus th:field="*{username}">
                            <label for="inputUsername">Username</label>
                            <p class="error" th:errors="*{username}"></p>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                   required th:field="*{password}">
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="pass pass-margin">
                            <input type="checkbox" onclick="myFunction()">Show Password
                        </div>
                        <script>
                            function myFunction() {
                                var x = document.getElementById("inputPassword");
                                if (x.type === "password") {
                                    x.type = "text";
                                } else {
                                    x.type = "password";
                                }
                            }
                        </script>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase sign-in" type="submit">Sign in</button>
                        <hr class="my-4">
                            <div class="text-center">
                                <a class="small" th:href="@{/register}" href="#">Register</a>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Vendor JS Files -->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/static/vendor/jquery.easing/jquery.easing.min.js}" src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script th:src="@{/vendor/php-email-form/validate.js}" src="../static/vendor/php-email-form/validate.js"></script>
<script th:src="@{/static/vendor/owl.carousel/owl.carousel.min.js}" src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}" src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script th:src="@{/vendor/venobox/venobox.min.js}" src="../static/vendor/venobox/venobox.min.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>

</body>
</html>