<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShapClash Organiser Dashboard</title>

    <!-- Favicons -->
    <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
    <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="../static/Theme2static/css/bootstrap.min.css" th:href="@{/Theme2static/css/bootstrap.min.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/bootstrap-theme.css" th:href="@{/Theme2static/css/bootstrap-theme.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/elegant-icons-style.css"
          th:href="@{/Theme2static/css/elegant-icons-style.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/css/font-awesome.min.css" th:href="@{/Theme2static/css/font-awesome.min.css}"
          rel="stylesheet"/>
    <link href="../static/Theme2static/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css"
          th:href="@{/Theme2static/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/assets/fullcalendar/fullcalendar/fullcalendar.css"
          th:href="@{/Theme2static/assets/fullcalendar/fullcalendar/fullcalendar.css}" rel="stylesheet"/>
    <link href="../static/Theme2static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css"
          th:href="@{/Theme2static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet"
          type="text/css" media="screen"/>
    <link href="../static/Theme2static/css/owl.carousel.css" th:href="@{/Theme2static/css/owl.carousel.css}"
          type="text/css" rel="stylesheet">
    <link href="../static/Theme2static/css/jquery-jvectormap-1.2.2.css"
          th:href="@{/Theme2static/css/jquery-jvectormap-1.2.2.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/fullcalendar.css" th:href="@{/Theme2static/css/fullcalendar.css}"
          rel="stylesheet">
    <link href="../static/Theme2static/css/widgets.css" th:href="@{/Theme2static/css/widgets.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/style.css" th:href="@{/Theme2static/css/style.css}" rel="stylesheet">
    <link href="../static/Theme2static/css/style-responsive.css" th:href="@{/Theme2static/css/style-responsive.css}"
          rel="stylesheet"/>
    <link href="../static/Theme2static/css/xcharts.min.css" th:href="@{/Theme2static/css/xcharts.min.css}"
          rel=" stylesheet">
    <link href="../static/Theme2static/css/jquery-ui-1.10.4.min.css"
          th:href="@{/Theme2static/css/jquery-ui-1.10.4.min.css}" rel="stylesheet">
    <!--<link href="../static/styles2.css" th:href="@{/styles2.css}" rel="stylesheet" -->

    <!-- Font Awesome Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>

</head>
<body>
<header class="header dark-bg">
    <!--logo start-->
    <a href="organiser.html" th:href="@{/}" class="logo">Snap<span class="lite">Clash</span></a>
    <!--logo end-->

    <div class="top-nav notification-row">
        <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->
            <a class="user text-warning" href="#" th:href="@{/users/{id}/update(id=${currentUser.getId()})}"
               th:text="${currentUser.getFirstName() + ' ' + currentUser.getLastName()}">Jenifer Smith</a>
            <td><a class="btn btn-default btn-sm" href="#" th:href="@{/logout}"
                   title="Bootstrap 3 themes generator">Logout</a></td>
            <!--user login dropdown end-->
        </ul>
    </div>

</header>
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="sub-menu">
                <a href="contests.html" th:href="@{/organisers/contests}" class="">
                    <i class="icon_table"></i>
                    <span>Contests</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="contests.html">Contests</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="contest-create.html" th:href="@{/organisers/contests/create}" class="">
                    <i class="icon_table"></i>
                    <span>Create Contest</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="contest-create.html">Create Contest</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="photos.html" th:href="@{/organisers/photos}" class="">
                    <i class="icon_table"></i>
                    <span>Photos</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="photos.html">Photos</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="organiser.html" th:href="@{/organisers}" class="">
                    <i class="icon_table"></i>
                    <span>Users</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="organiser.html">Users</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <i class="fa fa-users"></i>
                    <div class="count" th:text="${rankings.size()}" >1.000</div>
                    <div class="title">Users</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->
            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box brown-bg">
                    <i class="fas fa-image"></i>
                    <div class="count" th:text="${photos.size()}">2.538</div>
                    <div class="title">Photos</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->


            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box green-bg">
                    <i class="fa fa-trophy"></i>
                    <div class="count" th:text="${contests.size()}">362</div>
                    <div class="title">Contests</div>
                </div>
                <!--/.info-box-->
            </div>
        </div>
        <!--/.row-->
        <div class="row">
            <table>
                <tr>
                    <th>
                        <form class="navbar-form" th:object="${userSearchParameters}"
                              th:action="@{/organisers/filter}" method="post">
                            <input class="form-control" placeholder="Search by name" type="text" th:name="name">
                            <select class="form-select" id="ranking" th:name="ranking">
                                <option selected value="">Rank</option>
                                <option value="photo-junkie" >Photo Junkie</option>
                                <option value="photo-enthusiast" >Photo Enthusiast</option>
                                <option value="photo-master" >Photo Master</option>
                                <option value="photo-dictator" >Photo Dictator</option>
                            </select>
                            <button type="submit" class="btn btn-info" href=""><span
                                    class="fas fa-search mr-2"></span>Search
                            </button>
                            <a class="btn btn-danger" href="#" th:href="@{/organisers}">Reset</a>
                        </form>
                    </th>
                </tr>
            </table>
            <div class="col-lg-12">
                <section class="panel">
                    <h3 style="text-align: center" class="panel-heading">Users</h3>
                    <table class="table table-striped table-advance table-hover">
                        <tbody>
                        <tr>
                            <th><i class="fas fa-id-badge"></i> ID</th>
                            <th><i class="fas fa-user-alt"></i> Username</th>
                            <th><i class="fas fa-id-card"></i> First Name</th>
                            <th><i class="fas fa-id-card"></i> Last Name</th>
                            <th><i class="fas fa-award"></i> Rank</th>
                            <th><i class="fas fa-dice"></i> Total Score</th>
                            <th><i class="fas fa-level-up-alt"></i> Points To Next Rank</th>
                            <th><i class="fas fa-users-cog"></i> Update</th>
                        </tr>
                        <tr th:each="ranking : ${rankings}">
                            <td>
                                <a href="#" th:href="@{/users/{id}/update(id=${ranking.getUser().getId()})}"
                                   th:text="${ranking.getUser().getId()}">Id</a></td>
                            <td th:text="${ranking.getUser().getUsername()}">Username</td>
                            <td th:text="${ranking.getUser().getFirstName()}">FirstName</td>
                            <td th:text="${ranking.getUser().getLastName()}">LastName</td>
                            <td th:text="${ranking.getRankType()}">Rank</td>
                            <td th:text="${ranking.getTotalScore()}">Total Score</td>
                            <td th:text="${ranking.getPointsUntilNextRank()}">Point To Next Rank</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-success tooltips" data-placement="left"
                                       data-original-title="Update User" href="#"
                                       th:href="@{/users/{id}/update(id=${ranking.getUser().getId()})}"><i
                                            class="fas fa-edit"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </section>

</section>
<script src="../static/Theme2static/js/jquery.js" th:src="@{/Theme2static/js/jquery.js}"></script>
<script src="../static/Theme2static/js/bootstrap.min.js" th:src="@{/Theme2static/js/bootstrap.min.js}"></script>
<script src="../static/Theme2static/js/scripts.js" th:src="@{/Theme2static/js/scripts.js}"></script>
</body>
</html>