<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title th:text="#{photo.review(${photo.getPhoto().getTitle()})}">Submit Photo Review</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
  <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css"
        rel="stylesheet">
  <link th:href="@{/vendor/icofont/icofont.min.css}" href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" href="../static/vendor/boxicons/css/boxicons.min.css"
        rel="stylesheet">
  <link th:href="@{/vendor/remixicon/remixicon.css}" href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}"
        href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link th:href="@{/vendor/venobox/venobox.css}" href="../static/vendor/venobox/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/vlava-style.css}" href="../static/vlava-style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vlava - v2.2.1
  * Template URL: https://bootstrapmade.com/vlava-free-bootstrap-one-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/header.html :: header"></header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container"></div>
</section>
<!-- End Hero -->

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="index.html">Home</a></li>
      <li>Photos</li>
    </ol>
    <h2 th:text="${photo.getPhoto().getTitle()}">Photo Title</h2>

  </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
  <div class="container">

    <div class="row">
      <img th:src="@{${photo.getPhotoUrl()}}" src="../static/assets/featured-1.jpg" class="img-thumbnail" width="600" height="400" th:width="600" th:height="400" alt="">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Submit Photo Review</h5>
            <form th:action="@{/photos/{id}/review/new(id=${(photo.getId())})}" method="post" th:object="${photoReviewDto}" class="form-signin">
              <div class="form-label-dropdown ml-3 mb-3">
                <select th:field="*{photoScore}" style="width: 340px" id="score-select">
                  <option value=0 label="Score 1-10" disabled selected></option>
                  <option value=1 label="1"></option>
                  <option value=2 label="2"></option>
                  <option value=3 label="3"></option>
                  <option value=4 label="4"></option>
                  <option value=5 label="5"></option>
                  <option value=6 label="6"></option>
                  <option value=7 label="7"></option>
                  <option value=8 label="8"></option>
                  <option value=9 label="9"></option>
                  <option value=10 label="10"></option>
                </select>
                <p class="error" th:errors="*{photoScore}"></p>
              </div>

              <div class="form-label-group mb-3">
                <input type="text" id="inputComment" class="form-control" placeholder="Comment"
                       required th:field="*{comment}">
                <p class="error" th:errors="*{comment}"></p>
              </div>

              <div class="form-label-dropdown mb-3">
                <select th:field="*{invalidCategory}" style="width: 340px" id="wrong-category-select">
                  <option th:value="0" th:text="Is + ' ' + the + ' ' + photo + ' ' + in + ' ' + the + ' ' + wrong + ' ' + category + '?'" disabled selected>
                    Is the photo in the wrong category?</option>
                  <option value="false" >No</option>
                  <option value="true" >Yes</option>
                </select>
                <p class="error" th:errors="*{invalidCategory}"></p>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase sign-in" type="submit">Submit</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</section><!-- End Portfolio Details Section -->

<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer.html :: footer"></footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/static/vendor/jquery.easing/jquery.easing.min.js}"
        src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script th:src="@{/vendor/php-email-form/validate.js}" src="../static/vendor/php-email-form/validate.js"></script>
<script th:src="@{/static/vendor/owl.carousel/owl.carousel.min.js}"
        src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"
        src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script th:src="@{/vendor/venobox/venobox.min.js}" src="../static/vendor/venobox/venobox.min.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>

</body>
</html>