<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SnapClash Photo Upload</title>

    <!-- Favicons -->
    <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
    <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- CSS -->
    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/vendor/icofont/icofont.min.css}" href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link th:href="@{/vendor/remixicon/remixicon.css}" href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}" href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/vendor/venobox/venobox.css}" href="../static/vendor/venobox/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/login-styles.css" th:href="@{/login-styles.css}" rel="stylesheet">
    <link th:href="@{/vlava-style.css}" href="../static/vlava-style.css" rel="stylesheet">

</head>
<body class="photo-upload-background">

<!-- ======= Header ======= -->
<header th:replace="fragments/header.html :: header"></header>
<!-- End Header -->

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Upload File Example</h2>
                <p th:text="${error}" th:if="${error ne null}" class="alert alert-primary"></p>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form method="post" th:action="@{/photos/{id}/upload(id=${photoId})}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload File</button>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>