<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SnapClash Create Photo</title>

    <!-- Favicons -->
    <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
    <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- CSS -->
    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/vendor/icofont/icofont.min.css}" href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" href="../static/vendor/boxicons/css/boxicons.min.css"
          rel="stylesheet">
    <link th:href="@{/vendor/remixicon/remixicon.css}" href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}"
          href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/vendor/venobox/venobox.css}" href="../static/vendor/venobox/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/login-styles.css" th:href="@{/login-styles.css}" rel="stylesheet">
    <link th:href="@{/vlava-style.css}" href="../static/vlava-style.css" rel="stylesheet">

</head>
<body class="photo-new-background">

<!-- ======= Header ======= -->
<header th:replace="fragments/header.html :: header"></header>
<!-- End Header -->

<div class="container mt-5 pt-4">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Submit New Photo</h5>
                    <form th:action="@{/photos/new}" method="post" th:object="${photoDto}" class="form-signin">
                        <div class="form-label-group">
                            <input type="text" id="inputTitle" class="form-control" placeholder="Photo Title"
                                   required autofocus th:field="*{title}">
                            <label for="inputTitle">Photo Title</label>
                            <p class="error" th:errors="*{title}"></p>
                        </div>

                        <div class="form-label-group">
                            <input type="text" id="inputStory" class="form-control" placeholder="Photo Story"
                                   required th:field="*{story}">
                            <label for="inputStory">Photo Story</label>
                            <p class="error" th:errors="*{story}"></p>
                        </div>

                        <div class="form-label-dropdown ml-3">
                            <select th:field="*{contestId}" style="width: 340px" id="contest-select">
                                <option th:each="contest : ${contests}"
                                        th:value="${contest.getId()}"
                                        th:text="${contest.getTitle() + ', ' + contest.getContestCategory().getCategoryName()}"
                                >Contest
                                </option>
                            </select>
                            <p class="error" th:errors="*{contestId}"></p>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase sign-in" type="submit"
                                onclick="return confirm('Are you sure you want to submit? Photo details cannot be edited later.')">Submit
                        </button>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Vendor JS Files -->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/static/vendor/jquery.easing/jquery.easing.min.js}"
        src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script th:src="@{/vendor/php-email-form/validate.js}" src="../static/vendor/php-email-form/validate.js"></script>
<script th:src="@{/static/vendor/owl.carousel/owl.carousel.min.js}"
        src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"
        src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script th:src="@{/vendor/venobox/venobox.min.js}" src="../static/vendor/venobox/venobox.min.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>

</body>
</html>