<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{photo.title.review(${photo.getPhoto().getTitle()})}">Photo Reviews</title>

  <!-- Favicons -->
  <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
  <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Font Awesome Icons -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
          crossorigin="anonymous"></script>

  <!-- CSS -->
  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css"
        rel="stylesheet">
  <link th:href="@{/vendor/icofont/icofont.min.css}" href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" href="../static/vendor/boxicons/css/boxicons.min.css"
        rel="stylesheet">
  <link th:href="@{/vendor/remixicon/remixicon.css}" href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}"
        href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link th:href="@{/vendor/venobox/venobox.css}" href="../static/vendor/venobox/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/vlava-style.css}" href="../static/vlava-style.css" rel="stylesheet">

</head>
<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/header.html :: header"></header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="user-hero">
  <div class="hero-container">
    <h1 th:text="${photo.getPhoto().getTitle()}">Photo Title</h1>
    <h2 th:text="#{photo.reviews}">All Reviews</h2>
    <div th:if="${photo.getPhoto().getContest().isAwarded()}" class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-award"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <h2 th:if="${photo.getPhoto().getContest().isAwarded()}" th:text="#{photo.final.score(${photoScore})}">All Reviews</h2>
  </div>
</section>
<!-- End Hero -->

<!-- ======= Featured Section ======= -->
<div class="section-title mt-3" th:if="${photoReviews.isEmpty()}">
  <h4 class="section-title" th:text="#{photo.reviews.empty}">No Reviews for Photo</h4>
</div>

<div th:unless="${photoReviews.isEmpty()}">
  <section class="featured">
    <div class="d-block ml-auto mr-auto w-50">
    <img th:src="@{${photo.getPhotoUrl()}}" src="../static/assets/featured-1.jpg" class="img-thumbnail" width="700" height="500" th:width="700" th:height="500" alt="">
    </div>
    <br>
      <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mb-1 mb-lg-0"
             th:each="review : ${photoReviews}">
          <div class="card">
            <h2 th:text="#{photo.score(${review.getPhotoScore()})}">Photo Score</h2>
          </h3>
            <div class="card-body">
              <h3 class="card-title" th:text="#{photo.juror(${review.getJuror().getUsername()})}">Juror</h3>
              <h5 class="card-title" th:text="#{photo.comment(${review.getPhotoComment()})}"></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Featured Section -->
</div>

<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer.html :: footer"></footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/static/vendor/jquery.easing/jquery.easing.min.js}"
        src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script th:src="@{/vendor/php-email-form/validate.js}" src="../static/vendor/php-email-form/validate.js"></script>
<script th:src="@{/static/vendor/owl.carousel/owl.carousel.min.js}"
        src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"
        src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script th:src="@{/vendor/venobox/venobox.min.js}" src="../static/vendor/venobox/venobox.min.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>

</body>
</html>