<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title th:text="${photo.getPhoto().getTitle()}">SnapClash</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
    <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/vendor/icofont/icofont.min.css}" href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" href="../static/vendor/boxicons/css/boxicons.min.css"
          rel="stylesheet">
    <link th:href="@{/vendor/remixicon/remixicon.css}" href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}"
          href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/vendor/venobox/venobox.css}" href="../static/vendor/venobox/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/vlava-style.css}" href="../static/vlava-style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Vlava - v2.2.1
    * Template URL: https://bootstrapmade.com/vlava-free-bootstrap-one-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/header.html :: header"></header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container"></div>
</section>
<!-- End Hero -->

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a th:href="@{/}" href="index.html">Home</a></li>
            <li><a th:href="@{/photos}">Photos</a></li>
        </ol>
        <h2 th:text="${photo.getPhoto().getTitle()}">Photo Title</h2>

    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row">
            <img th:src="@{${photo.getPhotoUrl()}}" src="../static/assets/featured-1.jpg" class="img-thumbnail" width="700" height="500" th:width="700" th:height="500" alt="">
            <div class="col-lg-4 portfolio-info">
                <ul>
                    <li><strong>Contest:</strong><h3 th:text="${photo.getPhoto().getContest().getTitle()}"></h3></li>
                    <li><strong>Category:</strong><h3 th:text="${photo.getPhoto().getContest().getContestCategory().getCategoryName()}"></h3></li>
                    <li><strong>Photographer:</strong><h3 th:text="${photo.getPhoto().getPhotoUser().getFirstName()
                    + ' '
                    + photo.getPhoto().getPhotoUser().getLastName()
                    + ' | '
                    + photo.getPhoto().getPhotoUser().getUsername()}"></h3></li>
                    <li th:if="${photo.getPhoto().getContest().isAwarded()}">
                        <strong>Final Score:</strong><h3 th:text="${photoScore}"></h3></li>
                    <li><a th:href="@{/photos/{id}/reviews(id=${photo.getId()})}" href="#" class="btn-get-started scrollto">VIEW PHOTO REVIEWS</a></li>
                    <li th:if="${!photo.getPhoto().getContest().isAwarded()
                    && photo.getPhoto().getContest().getJury().contains(currentUser)}">
                        <a th:href="@{/photos/{id}/review/new(id=${photo.getId()})}" href="#" class="btn-get-started scrollto">SUBMIT PHOTO REVIEW</a></li>
                    <li><strong>Story:</strong><h6 th:text="${photo.getPhoto().getStory()}"></h6></li>
                </ul>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Details Section -->

<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer.html :: footer"></footer>
<!-- End Footer -->


<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/static/vendor/jquery.easing/jquery.easing.min.js}"
        src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script th:src="@{/vendor/php-email-form/validate.js}" src="../static/vendor/php-email-form/validate.js"></script>
<script th:src="@{/static/vendor/owl.carousel/owl.carousel.min.js}"
        src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"
        src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script th:src="@{/vendor/venobox/venobox.min.js}" src="../static/vendor/venobox/venobox.min.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>

</body>
</html>