<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SnapClash Photos</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
  <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css"
        rel="stylesheet">
  <link th:href="@{/vendor/icofont/icofont.min.css}" href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" href="../static/vendor/boxicons/css/boxicons.min.css"
        rel="stylesheet">
  <link th:href="@{/vendor/remixicon/remixicon.css}" href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}"
        href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link th:href="@{/vendor/venobox/venobox.css}" href="../static/vendor/venobox/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/vlava-style.css}" href="../static/vlava-style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vlava - v2.2.1
  * Template URL: https://bootstrapmade.com/vlava-free-bootstrap-one-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/header.html :: header"></header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container"></div>
</section>
<!-- End Hero -->

<!-- Page Content -->
<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Photo Gallery</h1>

  <hr class="mt-2 mb-5">
  <div class="row justify-content-center">
    <form class="form-inline pb-3" th:object="${photoSearchParameters}"
          th:action="@{/photos/search}" method="post">
      <input class="form-control mr-2" placeholder="Search by Username" type="text" th:name="username">
      <input class="form-control mr-2" placeholder="Search by Contest Title" type="text" th:name="contest">
      <button type="submit" class="btn btn-info mr-2" href=""><span
              class="icon_house_alt"></span>Search
      </button>
      <a class="btn btn-danger" href="#" th:href="@{/photos}">Reset</a>
    </form>
  </div>

  <div class="row text-center text-lg-left">

    <div th:each="photo : ${allPhotos}" class="col-lg-3 col-md-4 col-4 d-flex flex-wrap">
      <a th:href="@{/photos/{id}(id=${photo.getId()})}" href="#" class="d-block mb-4 h-100">
        <img th:src="@{${photo.getPhotoUrl()}}" th:width="400" th:height="300" class="img-thumbnail img-fluid" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
        <h5 style="text-align:center" th:text="#{photo.title(${photo.getPhoto().getTitle()})}" class="mt-2"></h5>
        <h6 style="text-align:center" th:text="#{photo.owner(${photo.getPhoto().getPhotoUser().getUsername()})}"></h6>
      </a>
    </div>

  </div>
</div>

<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer.html :: footer"></footer>
<!-- End Footer -->


<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/static/vendor/jquery.easing/jquery.easing.min.js}"
        src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script th:src="@{/vendor/php-email-form/validate.js}" src="../static/vendor/php-email-form/validate.js"></script>
<script th:src="@{/static/vendor/owl.carousel/owl.carousel.min.js}"
        src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"
        src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script th:src="@{/vendor/venobox/venobox.min.js}" src="../static/vendor/venobox/venobox.min.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>

</body>
</html>