<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SnapClash Register</title>

    <!-- Favicons -->
    <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
    <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/vendor/icofont/icofont.min.css}" href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link th:href="@{/vendor/remixicon/remixicon.css}" href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}" href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/vendor/venobox/venobox.css}" href="../static/vendor/venobox/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/login-styles.css" th:href="@{/login-styles.css}" rel="stylesheet">
    <link th:href="@{/vlava-style.css}" href="../static/vlava-style.css" rel="stylesheet">
</head>
<body class="register-background">

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            <h1 class="text-light"><a th:href="@{/}" href="index.html"><span>SnapClash</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a th:href="@{/}" href="index.html">Home</a></li>
                <li><a th:href="@{/login}" href="#">Login</a></li>
                <li><a th:href="@{/photos}" href="#">Photos</a></li>
                <li><a th:href="@{/contests}" href="#">Contests</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->


<div class="container mt-5 pt-4">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                        <form th:action="@{/register}" method="post" th:object="${registerDto}" class="form-signin">

                            <div class="form-label-group">
                            <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" name="user"
                                   th:field="*{firstName}">
                                <label for="inputFirstName">First Name</label>
                                <p class="error" th:errors="*{firstName}"></p>
                            </div>

                            <div class="form-label-group">
                                <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" name="user"
                                       th:field="*{lastName}">
                                <label for="inputLastName">Last Name</label>
                                <p class="error" th:errors="*{lastName}"></p>
                            </div>

                            <div class="form-label-group">
                                <input type="text" id="inputUsername" class="form-control" placeholder="Username"
                                       required autofocus th:field="*{username}">
                                <label for="inputUsername">Username</label>
                                <p class="error" th:errors="*{username}"></p>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                       required th:field="*{password}">
                                <label for="inputPassword">Password</label>
                                <p class="error" th:errors="*{password}"></p>
                            </div>

                            <div class="pass pass-margin">
                                <input type="checkbox" onclick="myFunction()">Show Password
                            </div>
                            <script>
                                function myFunction() {
                                    var x = document.getElementById("inputPassword");
                                    if (x.type === "password") {
                                        x.type = "text";
                                    } else {
                                        x.type = "password";
                                    }
                                }
                            </script>

                            <div class="form-label-group">
                                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password"
                                       required th:field="*{repeatPassword}">
                                <label for="inputConfirmPassword">Confirm Password</label>
                                <p class="error" th:errors="*{repeatPassword}"></p>
                            </div>

                            <div class="pass pass-margin">
                                <input type="checkbox" onclick="myFunction1()">Show Password
                            </div>
                            <script>
                                function myFunction1() {
                                    var x = document.getElementById("inputConfirmPassword");
                                    if (x.type === "password") {
                                        x.type = "text";
                                    } else {
                                        x.type = "password";
                                    }
                                }
                            </script>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase sign-in" type="submit">Register</button>
                            <hr class="my-4">
                            <div class="text-center">
                                <a class="small" th:href="@{/login}" href="#">Sign-In</a>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Vendor JS Files -->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/static/vendor/jquery.easing/jquery.easing.min.js}" src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script th:src="@{/vendor/php-email-form/validate.js}" src="../static/vendor/php-email-form/validate.js"></script>
<script th:src="@{/static/vendor/owl.carousel/owl.carousel.min.js}" src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}" src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script th:src="@{/vendor/venobox/venobox.min.js}" src="../static/vendor/venobox/venobox.min.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>

</body>
</html>