<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{user.profile(${currentUserRanking.getUser().getUsername()})}">User Profile</title>

    <!-- Favicons -->
    <link th:href="@{/assets/logo.png}" href="../static/assets/logo.png" rel="icon">
    <link href="../static/assets/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Font Awesome Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>

    <!-- CSS -->
    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/vendor/icofont/icofont.min.css}" href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" href="../static/vendor/boxicons/css/boxicons.min.css"
          rel="stylesheet">
    <link th:href="@{/vendor/remixicon/remixicon.css}" href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}"
          href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/vendor/venobox/venobox.css}" href="../static/vendor/venobox/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/vlava-style.css}" href="../static/vlava-style.css" rel="stylesheet">

</head>
<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/header.html :: header"></header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="user-hero">
    <div class="hero-container">
        <h1 th:text="${currentUserRanking.getUser().getFirstName() + ' '
        + currentUserRanking.getUser().getLastName() + ' | '
        + currentUserRanking.getUser().getUsername()}">
            Username</h1>
        <h2 th:text="${currentUserRanking.getRankType()}">Rank</h2>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div th:switch="${currentUserRanking.getRankType()}" class="divider-custom-icon">
                <i th:case="'Photo Junkie'" class="fas fa-chess-pawn"></i>
                <i th:case="'Photo Enthusiast'" class="fas fa-chess-knight"></i>
                <i th:case="'Photo Master'" class="fas fa-chess-rook"></i>
                <i th:case="'Wise and Benevolent Photo Dictator'" class="fas fa-chess-king"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <h2 th:text="#{user.totalScore(${currentUserRanking.getTotalScore()})}">Score</h2>
        <h2 th:text="#{user.nextRank(${currentUserRanking.getPointsUntilNextRank()})}">Points until Next Rank</h2>
        <a th:href="@{/users/{id}/update(id= ${currentUserRanking.getUser().getId()})}" href="#"
           class="btn-get-started scrollto">Update Profile</a>
    </div>
</section>
<!-- End Hero -->

<!-- ======= Featured Section ======= -->
<div class="section-title mt-2">
    <h2>Active Contests</h2>
</div>

<div class="section-title mt-3" th:if="${activeContests == null}">
    <h4 class="section-title" th:text="#{user.activeContests.empty}">No Active Contests</h4>
</div>

<div th:unless="${activeContests == null}">

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-1 mb-lg-0"
                     th:each="contest : ${activeContests}">
                    <div class="card" th:switch="${contest.getContestCategory().getCategoryName()}">
                        <img th:case="'Action'" th:src="@{/assets/categories/Action.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <img th:case="'Animals'" th:src="@{/assets/categories/Animals.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <img th:case="'Black & White'" th:src="@{/assets/categories/BlackWhite.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <img th:case="'Architecture'" th:src="@{/assets/categories/Architecture.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <img th:case="'Landscape'" th:src="@{/assets/categories/Landscape.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <img th:case="'Portrait'" th:src="@{/assets/categories/Portrait.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="#{contest.title(${contest.getTitle()})}">Contest Title</h5>
                            <h5 class="card-title" th:text="#{contest.category(${contest.getContestCategory().getCategoryName()})}"
                            >Contest Category</h5>
                            <hr>
                            <p th:text="#{contest.phaseOne.deadline(${#temporals.format(contest.getPhaseTwoStart(), 'dd-MM-yyyy HH:mm')})}"></p>
                            <h4><a th:href="@{/photos/new}" href="#" class="btn-outline-success">Join Contest</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<hr class="mt-3 mb-5">

<!-- ======= Featured Section ======= -->
<div class="section-title mt-2">
    <h2>Your Current Contests</h2>
</div>

<div class="section-title mt-3" th:if="${userCurrentContests == null}">
    <h4 class="section-title" th:text="#{user.currentContests.empty}">No Current Contests</h4>
</div>

<div th:unless="${userCurrentContests == null}">

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-1 mb-lg-0"
                     th:each="contest : ${userCurrentContests}">
                    <div class="card" th:switch="${contest.getContestCategory().getCategoryName()}">
                        <img th:case="'Action'" th:src="@{/assets/categories/Action.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <img th:case="'Animals'" th:src="@{/assets/categories/Animals.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <img th:case="'Black & White'" th:src="@{/assets/categories/BlackWhite.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <img th:case="'Architecture'" th:src="@{/assets/categories/Architecture.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <img th:case="'Landscape'" th:src="@{/assets/categories/Landscape.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <img th:case="'Portrait'" th:src="@{/assets/categories/Portrait.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="#{contest.title(${contest.getTitle()})}" >Contest Title</h5>
                            <h5 class="card-title" th:text="#{contest.category(${contest.getContestCategory().getCategoryName()})}"
                                                      >Contest Category</h5>
                            <hr>
                            <p th:text="#{contest.finish.deadline(${#temporals.format(contest.getContestEnd(), 'dd-MM-yyyy HH:mm')})}"></p>
                            <h4><a th:href="@{/contests/{id}(id=${contest.getId()})}" href="#" class="btn-outline-info">View Contest</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<hr class="mt-3 mb-5">

<!-- ======= Featured Section ======= -->

<div class="section-title">
    <h2>Your Previous Contests</h2>
</div>

<div class="section-title mt-3" th:if="${userFinishedContests == null}">
    <h4 class="section-title" th:text="#{user.finishedContests.empty}">No Previous Contests</h4>
</div>

<div th:unless="${userFinishedContests == null}">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-1 mb-lg-0 pb-3"
                     th:each="contest : ${userFinishedContests}">
                    <div class="card" th:switch="${contest.getContestCategory().getCategoryName()}">
                        <img th:case="'Action'" th:src="@{/assets/categories/Action.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <img th:case="'Animals'" th:src="@{/assets/categories/Animals.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <img th:case="'Black & White'" th:src="@{/assets/categories/BlackWhite.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <img th:case="'Architecture'" th:src="@{/assets/categories/Architecture.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <img th:case="'Landscape'" th:src="@{/assets/categories/Landscape.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <img th:case="'Portrait'" th:src="@{/assets/categories/Portrait.jpg}"
                             src="../static/assets/featured-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title" th:text="#{contest.title(${contest.getTitle()})}" >Contest Title</h4>
                            <h5 class="card-title" th:text="#{contest.category(${contest.getContestCategory().getCategoryName()})}"
                                                      >Contest Category</h5>
                            <hr>
                            <p th:text="#{contest.finished.deadline(${#temporals.format(contest.getContestEnd(), 'dd-MM-yyyy HH:mm')})}"></p>
                            <h4><a th:href="@{/contests/{id}(id=${contest.getId()})}" href="#" class="btn-outline-info">View Contest</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer.html :: footer"></footer>
<!-- End Footer -->


<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/static/vendor/jquery.easing/jquery.easing.min.js}"
        src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script th:src="@{/vendor/php-email-form/validate.js}" src="../static/vendor/php-email-form/validate.js"></script>
<script th:src="@{/static/vendor/owl.carousel/owl.carousel.min.js}"
        src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"
        src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script th:src="@{/vendor/venobox/venobox.min.js}" src="../static/vendor/venobox/venobox.min.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>

</body>
</html>